# Copie para .env.local (desenvolvimento) e configure no Vercel (producao)
NEXT_PUBLIC_SUPABASE_URL=https://nwrfvwmubrzlohmpzdnd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_gvpjv98ckAVnj1IqrppY0w_M0l4VC3K
